html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
 
.container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("./images/care_bears.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
  
.cardAction {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

  